body {
  margin: 0;
  font-family: "Maven pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(150deg, black, #); */
  background-color: #faf7ff;
  height: 100vh;
  margin: 0;
  color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.maven-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.app {
  width: 100vw;
  height: 100vh;
}

.nav-div {
  width: 100%;
}

.nav {
  position: absolute;
  z-index: 4;
  width: 100%;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding:0%;
  align-items: end;
  justify-content: flex-end;
  font-family: "Bebas Neue", sans-serif;
  background-color: rgba(227, 224, 243, 0.45);
  backdrop-filter: blur(10px);
}

.nav li {
  margin-inline: clamp(0.5rem, 2.5vw, 3rem);
  margin-block: 1rem;
  cursor: pointer;
  font-size: clamp(0.5rem, 2.5vw, 1.25rem);
}

.nav li a {
  text-decoration: none;
  color: #000;
}

.nav li a:hover {
  color: #8685ef;
}

.nav li a:active {
  color: #fff;
}

.home-section {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

.profile {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  grid-column: span 2 / auto;
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.profile img {
  max-width: 40vw;
  height: auto;
  /* filter: grayscale(100%); */
  filter: hue-rotate(360deg) sepia(0.5);
  text-align: center;
  margin: 0 auto;
}

.welcome-text {
  margin-inline: clamp(0.2rem, 10vw, 15rem);
}

.welcome-text h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: clamp(1rem, 2.5vw, 4rem);
  text-align: center;
  color: #000;
}

.welcome-text p {
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}

.action {
  margin: auto;
  text-align: center;
  grid-column: span 1 / auto;
}

.action h2 {
  font-family: 'montserrat', sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);
}


.grid {
  height: 10rem;
  position: relative;
}

.action-button {
  /* background-color: rgba(255, 255, 255, 1); */
  z-index: 2;
  width: 20rem;
  height: 4rem;
  color: #fff;
  font-family: 'Bebas neue', sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);;
  padding-block: 1rem;
  background: #8685ef; 
  border: 1px solid #8685ef; 
  border-radius: 3rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.projects-section {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  background-image: url('./assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.projects {
  margin-top: clamp(2rem, 4vw, 6rem);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  grid-auto-rows: minmax(450px, 550px);
}

.heading {
  margin: 0
}

.card {
  height: auto;
  background-color: rgba(227, 224, 243, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  margin-inline: 0.5vw;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: center;
}

.card-image {
  border-radius: 1rem, 1rem, 0, 0;
  width: 100%;
  flex: 3;
}

.card-content {
  flex:3;
}

.card-action {
  flex:1;
}

.card-image img {
  width: 100%;
  height: 36vh;
  border-radius: 0.5rem 0.5rem 0 0;
}

.project-title {
  font-family: 'Maven pro', sans-serif;
  font-size: 1.3rem;
}

.project-description {
  margin-inline: 0.5rem;
  font-family: 'Maven pro';
  font-size: 1rem;
  white-space: normal;
  text-align: left;
}

.card-button {
  background-color:#8685ef;
  color: #fff;
  font-family: 'Maven pro';
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  margin-inline: 0.5rem;
  cursor: pointer;
  border: 1px solid #8685ef;
}


.about-section {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-image: url('./assets/about_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-about {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
  grid-auto-rows: minmax(200px, 300px);
  gap: 1rem;
}

.about-card {
  background-color: rgba(227, 224, 243, 0.45);
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);
  margin-inline: clamp(0.7rem, 2.5vw, 1.2rem);
  margin-top: clamp(2rem, 2.5vw, 4rem);
}

.card-action a {
  text-decoration: none;
  color: white;
}